.all-rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.spacer {
	display: block;
}
 
#progress-bar {
	margin: 0 auto;

	border: 3px solid #D9964B;
	width: 100%;
	display: block;
	float: left;
	-moz-box-shadow:    inset 0 0 3px #111;
  -webkit-box-shadow: inset 0 0 3px #111;
  box-shadow:         inset 0 0 3px #111;
}
 
#progress-bar-percentage {
	background: none repeat scroll 0 0 #506AA1;
	padding: 5px 0px;
 	color: #FFF;
 	font-weight: bold;
 	text-align: center;
	-moz-box-shadow:    inset 0 0 4px #777777;
  -webkit-box-shadow: inset 0 0 4px #777777;
  box-shadow:         inset 0 0 4px #777777;
}

#bar {
  margin-bottom: 3em;
}

#donate-buttons {
  text-align: right;
}

span.percentage-text {
  padding-left: 5px;
}
